/SmartRecyclingBin/nbproject/private/
/SmartRecyclingBin/build/
/SmartRecyclingBin-Common/nbproject/private/
/SmartRecyclingBin-Server/nbproject/private/
/SmartRecyclingBin-Server/build/
/SmartRecyclingBin/dist/
/SmartRecyclingBin-Server/dist/